[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
mysqlclient = "*"
psycopg2-binary = "*"
pysqlite3 = "*"
djangorestframework-xml = "*"
django-debug-toolbar = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
django-axes = "*"
bleach = "*"
drf-spectacular = "*"
django-cors-headers = "*"
django-filter = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"
